TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
START_HOUR=21
START_MINUTE=0
PHASE_ONE_INTERVAL_MINUTES=2
ESCALATION_AFTER_MINUTES=6
GIVE_UP_AFTER_MINUTES=15
PHASE_TWO_INTERVAL_SECONDS=180
MAX_WEEKLY_PASSES=5
