TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
START_HOUR=21
START_MINUTE=0
PHASE_ONE_INTERVAL_MINUTES=1
ESCALATION_AFTER_MINUTES=5
GIVE_UP_AFTER_MINUTES=10
EMERGENCY_MIN_INTERVAL_SECONDS=1
EMERGENCY_MAX_INTERVAL_SECONDS=10
MAX_WEEKLY_PASSES=5
